mqtt:
  host: 10.10.10.1
  port: 1883
  username: mqtt
  password: password
  qos: 0
  prefix: blink2mqtt
  home_assistant: True
  discovery_prefix: homeassistant
  tls_enabled: False
  tls_ca_cert: filename
  tls_cert: filename
  tls_key: string

blink:
  username: admin
  password: password
  device_rescan_interval: 3600
  device_update_interval: 30
  snapshot_update_interval: 120

timezone: America/New_York
hide_ts: False
